[submodule "FEX"]
	path = FEX
	url = https://github.com/willfaust/FEX.git
	branch = ios-port
[submodule "wine"]
	path = wine
	url = https://github.com/willfaust/wine.git
[submodule "research/dxmt"]
	path = research/dxmt
	url = https://github.com/willfaust/dxmt.git
	branch = ios-port
